<div id="section-footer">

</div>
</section>

<footer id="footer">
    <div id="footer-blurb">
        <h2>About This Page</h2>
        <p>Wei Chen's Personal Portfolio.</p>
    </div>

    <div id="footer-nav">
        <h2>Quick Links</h2>
        <div id="footer-nav-links">
            <a href=#Home>Home</a>
            <a href=#portfolio>Portfolio</a>
            <a href=#about>About</a>
            <a href=#contact>Contact</a>
            <a href="#blog">Blog</a>
            <a href="#Gallery">Gallery</a>
        </div>
    </div>

    <div id="footer-social">
        <h2>Follow Me</h2>
        <div id="footer-social-icons">
            <a href="https://github.com/Matcha828" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/wei-chen-26b512131" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/webber828/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100005638428097&ref=bookmarks" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
</div> <!-- #main -->

</body>
</html>