<!DOCTYPE html>
<html>
<head>
    <title>Wei Chen - Web Developer</title>
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">
    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>
<div id="main">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fab fa-weebly"></i> WEI</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <!--<div class="container">-->
        <div class="jumbotron">
            <div class="jumboCenter">
                <h1>Wei Chen</h1>
                <h3>A Passionate Web Developer</h3>
                <hr>
                <div id="social">
                    <a href="https://github.com/Matcha828" target="_blank">
                        <i class="fab jumcon fa-github-square fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/wei-chen-26b512131" target="_blank">
                        <i class="fab jumcon fa-linkedin fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/webber828/" target="_blank">
                        <i class="fab jumcon fa-instagram fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100005638428097&ref=bookmarks" target="_blank">
                        <i class="fab jumcon fa-facebook fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
             </div>
        </div>
        <!--</div>-->
    </header>
